.blueTable {
	background: #aaf;
	border: 1px solid black;
	cursor:pointer;
	vertical-align:middle;
	padding:0px;
}

.blueTable .dfTableName{
	border-bottom: 1px solid black;
	text-align:center;
	padding:10px;
}

.blueTable .dfRows1, .blueTable .dfRows2 {
	border-top: 1px solid black;
	margin-top:3px;
}

.blueTable .dfRow2 {
	color: red;
}

.blueTable .dfCol1, .blueTable .dfCol2, .blueTable .dfCol3 {
	display:inline-block;
	padding:0;
	text-align:center;
	width:33%;
}

.redTable {
	background: #faa;
	border: 1px solid black;
	cursor:pointer;
	vertical-align:middle;
	padding:0px;
	box-shadow:3px 3px 5px black;
}

.redTable .dfTableName{
	border-bottom: 1px solid black;
	text-align:center;
	padding:10px;
}

.redTable .dfRows1, .redTable .dfRows2 {
	border-top: 1px solid black;
	margin-top:3px;
}

.redTable .dfRow2 {
	color: red;
}

.redTable .dfCol1, .redTable .dfCol2, .redTable .dfCol3 {
	display:inline-block;
	padding:0;
	text-align:center;
	width:33%;
	text-overflow:ellipsis;
	overflow:hidden;
}

.greenTable {
	background: #afa;
	border: 1px solid black;
	cursor:pointer;
	vertical-align:middle;
	padding:0px;
}

.greenTable .dfTableName{
	border-bottom: 1px solid black;
	text-align:center;
	padding:10px;
}

.greenTable .dfRows1, .greenTable .dfRows2 {
	border-top: 1px solid black;
	margin-top:3px;
}

.greenTable .dfRow2 {
	color: green;
}

.greenTable .dfCol1, .greenTable .dfCol2, .greenTable .dfCol3 {
	display:inline;
	padding:5px;
	border-right:1px solid #777;
	width:100px;
}