html, body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

#canvas {
	margin:0;
	padding:0;
	width:100%;
	max-height:100%;
	height:3000px;
	position:fixed;
}

.button text{
	width:100px;
	background:red;
	height:30px;
}

foreignObject,  {
	overflow:hidden;
}

foreignObject > div {
	overflow:hidden;
	width:fit-content ! important;
}

.table > foreignObject > div{
	border-radius:0;
}

.axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
  vector-effect: non-scaling-stroke;
}

line.edge {
  fill: none;
  stroke: #000;
  stroke-width:2px;
}

.infoDiv {
	background:white;
	text-align:center;
	border-radius:5px;
	cursor:pointer;
	line-height:30px;
	font-size:30px;
}
.arrow {
	stroke-width:1px;
}

.baseTable {
	background: #fff;
	border: 1px solid black;
	cursor:pointer;
	vertical-align:middle;
	padding:0px;
}

.baseTable .dfTableName{
	background: #000;
    color:#fff;
	text-align:center;
	padding:10px;
}

.baseTable table {
    border-collapse: collapse;
}

.baseTable td {
    border: thin solid;
}

.baseTable .dfRowHead {
    font-weight:bold;
    text-align: center;
}

.baseTable .dfRowHead {
    border-top:1px solid black;
}

.baseTable .dfRowHead1 {
    border-top:none;
    background:#ccc;
}

.baseTable .dfRowHead2 {
    background:#eee;
}

.baseTable .dfRow1 td {
    font-weight:bold;
    background:#ccc;
    padding:2px;
}
.baseTable .dfRow2 td {
    background:#eee;
    padding:0 5px;
}
.baseTable .dfRow2 .dfCol3 {
    color:blue;
}

.referencedNode .dfTableName{
    background:radial-gradient(20% 70% ellipse at 0% 50%, gold 40%, black) ! important;
}

.referencingNode .dfTableName{
    background:radial-gradient(20% 70% ellipse at 100% 50%, gold 40%, black) ! important;
}

.highLightedNode .dfTableName{
    background:gold ! important;
}