html {
    height:100%;
    width:100%;
    margin:0;
    font-family:compasse;
    overflow-x:hidden;
}

a, a:visited, a:active {
    color:white;
    text-decoration:none;
}

a:hover {
    color:#ccc;
}

body {
    margin:0;
}

.flex {
    column-count: 8;
    width:calc(100% - 1em);
}

.entry {
    background: #135ba6;
    break-inside: avoid;
    width:calc(100% - 1em);
    overflow:hidden;
    backface-visibility: hidden;
    color:white;
    padding:.5em;
    margin:.5em;
}

@media(max-width: 2400px) {
    .flex {
        column-count: 7;
    }
}

@media(max-width: 2100px) {
    .flex {
        column-count: 6;
    }
}

@media(max-width: 1800px) {
    .flex {
        column-count: 5;
    }
}

@media(max-width: 1500px) {
    .flex {
        column-count: 4;
    }
}

@media(max-width: 1200px) {
    .flex {
        column-count: 3;
    }
}

@media(max-width: 900px) {
    .flex {
        column-count: 2;
    }
}

@media(max-width: 600px) {
    .flex {
        column-count: 1;
    }
}

nav {
    padding:.5em;
    width:100%;
    background:#333;
}

nav a.currentPage {
    color: #FF5D0B;
    font-weight:bold;
    
}

.navLinkBundle {
    white-space: nowrap;
    display:inline-block;
}

.newNavButton {
    margin-right:20px;
}

.entryDeleter, .entryLinkDeleter {
	color:red;
}

.entry.tabular {
    width:100%;
}
.entry.bubblar {
    display:inline-block;
}

.entry h2.entryIdentifierField {
    margin:0 0 .25em;
    color:black;
}

.entry .entryField {
    
}

.entry .entryLinks {
    margin-top:.5em;
    border-top:1px dashed white;
}

.entry .entryLinks h3.entryLinksType {
    margin:.25em 0;
}

.entry .entryLinks .entryLinkDiv {
    border:1px solid white;
    margin:1px;
    padding:5px;
}

.entryLinkIdentifierField {
    margin:.5em 0;
}

.entry .entryLinks .addEntryLink {
    color: #1cad00;
    margin:5px 0 10px;
}

.entry .entryLinks .addEntryLink:before {
    content: '+ ';
}

#errorDiv {
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
}

ul.whisperer {
    background: white;
    border:1px solid black;
    padding:0;
    margin-left:10px;
    overflow:hidden;
    border-radius:5px;
}

ul.whisperer li {
    padding-left:10px;
    list-style:none;
    color:black;
}

ul.whisperer li:hover {
    background:lightblue;
    cursor:pointer;
}

h1 {
    display:inline-block;
    color:white;
    line-height:1em;
    margin:0 20px;
}