html {
    height:100%;
    width:100%;
    margin:0;
    font-family:compasse;
    overflow-x:hidden;
}

a, a:visited, a:active {
    color:white;
    text-decoration:none;
}

a:hover {
    color:#ccc;
}

body {
    margin:0;
}

.flex {
    column-count: 4;
    column-gap: 0em;
    column-width: 25%;
    padding:.1em;
}

@media(max-width: 1200px) {
    .flex {
        column-count: 3;
        column-gap: 0;
    }
}

@media(max-width: 900px) {
    .flex {
        column-count: 2;
        column-gap: 0;
    }
}

@media(max-width: 600px) {
    .flex {
        column-count: 1;
        column-gap: 0;
    }
}

nav {
    padding:.5em;
    width:100%;
    background:#333;
}

nav a {
    font-size:1.5em;
    margin:0 .5em;
    color:white;
    text-decoration:none;
}

nav a.currentPage {
    color: #FF5D0B;
    font-weight:bold;
    
}

nav > div {
    padding:.5em 0;
    display:inline;
}

nav a:hover {
    color: #FF5D0B;
}

nav a.hiddenNavLink {
    display:none;
}

nav a.hiddenNavLink:hover {
    color: #59df0a;
}

.entry {
    background: #135ba6;
    break-inside: avoid;
    width:calc(100% - 1.2em);
    overflow:hidden;
    backface-visibility: hidden;
    color:white;
    padding:.5em;
    margin:.1em;
}

.entryDeleter, .entryLinkDeleter {
	color:red;
}

.entryDeleter:before, .entryLinkDeleter:before {
	content: 'Delete';
}

.entry.tabular {
    width:100%;
}
.entry.bubblar {
    display:inline-block;
}

.entry h2.entryIdentifierField {
    margin:.25em 0;
}

.entry .entryField {
    
}

.entry .entryLinks {
    margin-top:.5em;
    border-top:1px dashed white;
}

.entry .entryLinks h3.entryLinksType {
    margin:.25em 0;
}

.entry .entryLinks .entryLinkDiv {
    border:1px solid white;
    margin:1px;
    padding:5px;
}

.entryLinkIdentifierField {
    margin:.5em 0;
}

.entry .entryLinks .addEntryLink {
    color: #59df0a;
    margin-top:.5em;
    font-weight:bold;
}

.entry .entryLinks .addEntryLink:before {
    content: '+ ';
}